{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'style/home.css' %}">
	<link rel="icon" type="image/png" href="{% static 'img/Log/NovaVerse.svg' %}" sizes="32x32">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<title>NovaVerse</title>
</head>

<body>
	{% include "nav.html" %}
	<!-- ================ Profile ================ -->
	<main>
		<div class="container">
			<!-- ================ left ================ -->
			<div class="left">
				<a href="{% url 'profile' %}" class="profile">
					<div class="profile-photo">
						<img src="{% static 'img/profile-1.jpg' %}">
					</div>
					<div class="handle">
						<h4>{{request.user.first_name}} {{request.user.last_name}}</h4>
						<p class="text-muted">
							@{{request.user.username}}
						</p>
					</div>
				</a>
				{% include 'sidebar.html' %}
			</div>
			<!-- ================ End of left ================ -->


			<!-- ================ middle ================ -->
			<div class="middle">
				<!-- ================ create-post ================ -->
				<div class="create-post">
					<div class="profile-photo">
						<img src="{% static 'img/profile-1.jpg' %}">
					</div>
					<input type="text" placeholder="What's on your mind" id="create-post">
					<a href="{% url 'new-post' %}"><input type="submit" class="btn btn-primary" value="create"></a>
				</div>
				<!-- ================ feeds ================ -->
				<div class="feeds">

					{% for post in post_items %}
					<!-- ================ feed one================ -->
					<div class="feed">
						<div class="head">
							<div class="user">
								<div class="profile-photo">
									<img src="{% static 'img/profile-1.jpg' %}">
								</div>
								<div class="info">
									<h3>{{ post.user.username }}</h3>
									<small>{{ post.posted }}</small>
								</div>
							</div>
							<span class="edit">
								<i class='bx bx-dots-horizontal-rounded'></i>
							</span>
						</div>
						<div class="photo">
							<a href="{% url 'post-detail' post.id %}"><img src="{{ post.picture }}"></a>
						</div>

						<div class="action-buttons">
							<div class="interaction-buttons">
								<span><i class='bx bx-heart'></i></span>
								<span><i class='bx bxs-comment-detail'></i></span>
								<span><i class='bx bxs-share-alt'></i></span>
							</div>
							<div class="bookmark">
								<span><i class='bx bx-bookmark'></i></span>
							</div>
						</div>
						<div class="liked-by">
							<span><img src="{% static 'img/profile-10.jpg' %}"></span>
							<span><img src="{% static 'img/profile-11.jpg' %}"></span>
							<span><img src="{% static 'img/profile-12.jpg' %}"></span>
							<p>liked by <b>Ernest Achiever</b> and <b>{{ post.likes|add:"-1" }} others</b></p>
						</div>
						<div class="caption">
							<p>
								{{post.caption}}

								{% for tag in post.tags.all %}
								<a href="{{tag.get_absolute_url}}"><span class="harsh-tag">
										#{{tag.title}}</span></a>
								{% endfor %}
							</p>
						</div>
						<div class="comment text-muted">
							view all 277 comments
						</div>
					</div>
					<!-- ================ end of feed one ================ -->
					{% endfor %}
				</div>
			</div>
			<!-- ================ middle ================ -->


			<!-- ================ right ================ -->
			<div class="right">
				<!-- ================ friend requests ================ -->
				<div class="friend-requests">
					<h4>Requests</h4>
					<div class="request">
						<div class="info">
							<div class="profile-photo">
								<img src="{% static 'img/profile-14.jpg' %}" alt="">
							</div>
							<div>
								<h5>Thor Oden</h5>
								<p class="text-muted">
									5 Mutual friends
								</p>
							</div>
						</div>
						<div class="action">
							<button class="btn btn-primary">Accept</button>
							<button class="btn">Decline</button>
						</div>
					</div>
					<div class="request">
						<div class="info">
							<div class="profile-photo">
								<img src="{% static 'img/profile-15.jpg' %}" alt="">
							</div>
							<div>
								<h5>Oden</h5>
								<p class="text-muted">
									7 Mutual friends
								</p>
							</div>
						</div>
						<div class="action">
							<button class="btn btn-primary">Accept</button>
							<button class="btn">Decline</button>
						</div>
					</div>
					<div class="request">
						<div class="info">
							<div class="profile-photo">
								<img src="{% static 'img/profile-16.jpg' %}" alt="">
							</div>
							<div>
								<h5>Loki Oden</h5>
								<p class="text-muted">
									8 Mutual friends
								</p>
							</div>
						</div>
						<div class="action">
							<button class="btn btn-primary">Accept</button>
							<button class="btn">Decline</button>
						</div>
					</div>
				</div>
			</div>
			<!-- ================ right ================ -->

		</div>
	</main>
	{% include 'themes.html' %}
	<script src="{% static 'js/home.js' %}"></script>
</body>

</html>