{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/style/home.css">
	<link rel="icon" type="image/png" href="../static/img/Log/NovaVerse.svg" sizes="32x32">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<title>NovaVerse</title>
</head>

<body>
	{% include "nav.html" %}
	<!-- ================ Profile ================ -->
	<main>
		<div class="container">
			<!-- ================ left ================ -->
			<div class="left">
				<a class="profile">
					<div class="profile-photo">
						<img src="../static/img/profile-1.jpg">
					</div>
					<div class="handle">
						<h4>Diana Ayi</h4>
						<p class="text-muted">
							@dayis
						</p>
					</div>
				</a>
				{% include 'sidebar.html' %}
			</div>
			<!-- ================ End of left ================ -->


			<!-- ================ middle ================ -->
			<div class="middle">
				<!-- ================ create-post ================ -->
				<form class="create-post">
					<div class="profile-photo">
						<img src="../static/img/profile-1.jpg">
					</div>
					<input type="text" placeholder="What's on your mind" id="create-post">
					<input type="submit" class="btn btn-primary" value="post">
				</form>
				<!-- ================ feeds ================ -->
				<div class="feeds">
					<!-- ================ feed one================ -->
					<div class="feed">
						<div class="head">
							<div class="user">
								<div class="profile-photo">
									<img src="../static/img/profile-1.jpg">
								</div>
								<div class="info">
									<h3>Lana Rose</h3>
									<small>Dubai, 15 Minutes ago</small>
								</div>
							</div>
							<span class="edit">
								<i class='bx bx-dots-horizontal-rounded'></i>
							</span>
						</div>
						<div class="photo">
							<img src="../static/img/feed-1.jpg">
						</div>

						<div class="action-buttons">
							<div class="interaction-buttons">
								<span><i class='bx bx-heart'></i></span>
								<span><i class='bx bxs-comment-detail'></i></span>
								<span><i class='bx bxs-share-alt'></i></span>
							</div>
							<div class="bookmark">
								<span><i class='bx bx-bookmark'></i></span>
							</div>
						</div>
						<div class="liked-by">
							<span><img src="../static/img/profile-10.jpg"></span>
							<span><img src="../static/img/profile-11.jpg"></span>
							<span><img src="../static/img/profile-12.jpg"></span>
							<p>liked by <b>Ernest Achiever</b> and <b>323others</b></p>
						</div>
						<div class="caption">
							<p>
								Lorem ipsum dolor lore.
								<span class="harsh-tag">#lifestule</span>
							</p>
						</div>
						<div class="comment text-muted">
							view all 277 comments
						</div>
					</div>
					<!-- ================ end of feed one ================ -->
					<!-- ================ feed two================ -->
					<div class="feed">
						<div class="head">
							<div class="user">
								<div class="profile-photo">
									<img src="../static/img/profile-7.jpg">
								</div>
								<div class="info">
									<h3>Eric Hanson</h3>
									<small>Dubai, 15 Minutes ago</small>
								</div>
							</div>
							<span class="edit">
								<i class='bx bx-dots-horizontal-rounded'></i>
							</span>
						</div>
						<div class="photo">
							<img src="../static/img/feed-5.jpg">
						</div>

						<div class="action-buttons">
							<div class="interaction-buttons">
								<span><i class='bx bx-heart'></i></span>
								<span><i class='bx bxs-comment-detail'></i></span>
								<span><i class='bx bxs-share-alt'></i></span>
							</div>
							<div class="bookmark">
								<span><i class='bx bx-bookmark'></i></span>
							</div>
						</div>
						<div class="liked-by">
							<span><img src="../static/img/profile-10.jpg"></span>
							<span><img src="../static/img/profile-11.jpg"></span>
							<span><img src="../static/img/profile-12.jpg"></span>
							<p>liked by <b>Ernest Achiever</b> and <b>323others</b></p>
						</div>
						<div class="caption">
							<p>
								Lorem ipsum dolor lore.
								<span class="harsh-tag">#lifestule</span>
							</p>
						</div>
						<div class="comment text-muted">
							view all 277 comments
						</div>
					</div>
					<!-- ================ end of feed two ================ -->
					<!-- ================ feed three ================ -->
					<div class="feed">
						<div class="head">
							<div class="user">
								<div class="profile-photo">
									<img src="../static/img/profile-6.jpg">
								</div>
								<div class="info">
									<h3>John Doe</h3>
									<small>Dubai, 15 Minutes ago</small>
								</div>
							</div>
							<span class="edit">
								<i class='bx bx-dots-horizontal-rounded'></i>
							</span>
						</div>
						<div class="photo">
							<img src="../static/img/feed-6.jpg">
						</div>

						<div class="action-buttons">
							<div class="interaction-buttons">
								<span><i class='bx bx-heart'></i></span>
								<span><i class='bx bxs-comment-detail'></i></span>
								<span><i class='bx bxs-share-alt'></i></span>
							</div>
							<div class="bookmark">
								<span><i class='bx bx-bookmark'></i></span>
							</div>
						</div>
						<div class="liked-by">
							<span><img src="../static/img/profile-10.jpg"></span>
							<span><img src="../static/img/profile-11.jpg"></span>
							<span><img src="../static/img/profile-12.jpg"></span>
							<p>liked by <b>Ernest Achiever</b> and <b>323others</b></p>
						</div>
						<div class="caption">
							<p>
								Lorem ipsum dolor lore.
								<span class="harsh-tag">#lifestule</span>
							</p>
						</div>
						<div class="comment text-muted">
							view all 277 comments
						</div>
					</div>
					<!-- ================ end of feed three ================ -->
					<!-- ================ feed four ================ -->
					<div class="feed">
						<div class="head">
							<div class="user">
								<div class="profile-photo">
									<img src="../static/img/profile-5.jpg">
								</div>
								<div class="info">
									<h3>Hella Oden</h3>
									<small>Dubai, 15 Minutes ago</small>
								</div>
							</div>
							<span class="edit">
								<i class='bx bx-dots-horizontal-rounded'></i>
							</span>
						</div>
						<div class="photo">
							<img src="../static/img/feed-3.jpg">
						</div>

						<div class="action-buttons">
							<div class="interaction-buttons">
								<span><i class='bx bx-heart'></i></span>
								<span><i class='bx bxs-comment-detail'></i></span>
								<span><i class='bx bxs-share-alt'></i></span>
							</div>
							<div class="bookmark">
								<span><i class='bx bx-bookmark'></i></span>
							</div>
						</div>
						<div class="liked-by">
							<span><img src="../static/img/profile-10.jpg"></span>
							<span><img src="../static/img/profile-11.jpg"></span>
							<span><img src="../static/img/profile-12.jpg"></span>
							<p>liked by <b>Ernest Achiever</b> and <b>323others</b></p>
						</div>
						<div class="caption">
							<p>
								Lorem ipsum dolor lore.
								<span class="harsh-tag">#lifestule</span>
							</p>
						</div>
						<div class="comment text-muted">
							view all 277 comments
						</div>
					</div>
					<!-- ================ end of feed four ================ -->
					<!-- ================ feed Five ================ -->
					<div class="feed">
						<div class="head">
							<div class="user">
								<div class="profile-photo">
									<img src="../static/img/profile-4.jpg">
								</div>
								<div class="info">
									<h3>Scarlet Whitch</h3>
									<small>Dubai, 15 Minutes ago</small>
								</div>
							</div>
							<span class="edit">
								<i class='bx bx-dots-horizontal-rounded'></i>
							</span>
						</div>
						<div class="photo">
							<img src="../static/img/feed-2.jpg">
						</div>

						<div class="action-buttons">
							<div class="interaction-buttons">
								<span><i class='bx bx-heart'></i></span>
								<span><i class='bx bxs-comment-detail'></i></span>
								<span><i class='bx bxs-share-alt'></i></span>
							</div>
							<div class="bookmark">
								<span><i class='bx bx-bookmark'></i></span>
							</div>
						</div>
						<div class="liked-by">
							<span><img src="../static/img/profile-10.jpg"></span>
							<span><img src="../static/img/profile-11.jpg"></span>
							<span><img src="../static/img/profile-12.jpg"></span>
							<p>liked by <b>Ernest Achiever</b> and <b>323others</b></p>
						</div>
						<div class="caption">
							<p>
								Lorem ipsum dolor lore.
								<span class="harsh-tag">#lifestule</span>
							</p>
						</div>
						<div class="comment text-muted">
							view all 277 comments
						</div>
					</div>
					<!-- ================ end of feed five ================ -->
				</div>
			</div>
			<!-- ================ middle ================ -->


			<!-- ================ right ================ -->
			<div class="right">
				<!-- ================ friend requests ================ -->
				<div class="friend-requests">
					<h4>Requests</h4>
					<div class="request">
						<div class="info">
							<div class="profile-photo">
								<img src="../static/img/profile-14.jpg" alt="">
							</div>
							<div>
								<h5>Thor Oden</h5>
								<p class="text-muted">
									5 Mutual friends
								</p>
							</div>
						</div>
						<div class="action">
							<button class="btn btn-primary">Accept</button>
							<button class="btn">Decline</button>
						</div>
					</div>
					<div class="request">
						<div class="info">
							<div class="profile-photo">
								<img src="../static/img/profile-15.jpg" alt="">
							</div>
							<div>
								<h5>Oden</h5>
								<p class="text-muted">
									7 Mutual friends
								</p>
							</div>
						</div>
						<div class="action">
							<button class="btn btn-primary">Accept</button>
							<button class="btn">Decline</button>
						</div>
					</div>
					<div class="request">
						<div class="info">
							<div class="profile-photo">
								<img src="../static/img/profile-16.jpg" alt="">
							</div>
							<div>
								<h5>Loki Oden</h5>
								<p class="text-muted">
									8 Mutual friends
								</p>
							</div>
						</div>
						<div class="action">
							<button class="btn btn-primary">Accept</button>
							<button class="btn">Decline</button>
						</div>
					</div>
				</div>
			</div>
			<!-- ================ right ================ -->

		</div>
	</main>
	{% include 'themes.html' %}
	<script src="../static/js/home.js"></script>
</body>

</html>