{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/style/home.css">
	<link rel="stylesheet" href="../static/style/profile.css">
	<link rel="icon" type="image/png" href="../static/img/Log/NovaVerse.svg" sizes="32x32">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<title>NovaVerse</title>
</head>

<body>

	{% include 'nav.html' %}

	<!-- ================ main ================ -->
	<main>
		<div class="container">
			<!-- ================ left ================ -->
			<div class="left">
				{% include 'sidebar.html' %}
			</div>
			<!-- ================ End of left ================ -->

			<!-- ================ middle ================ -->
			<div class="middle">
				<!-- ================ profile ================ -->
				<div class="profile">
					<div class="profile-photo">
						<img src="../static/img/profile-1.jpg">
					</div>
					<div class="user-info">
						<div>
							<h1>Lana Rose</h1>
							<h5 class="text-muted">@username</h5>
							<h6> Bio Lorem ipsum dolor sit amet.</h6>
						</div>
						<div>
							<button class="btn btn-primary">Edit Profile</button>
						</div>
						<div class="account-stats">
							<h4>1 <small>Post</small></h4>
							<h4>152 <small>Followers</small></h4>
							<h4>238 <small>Following</small></h4>
						</div>
					</div>
				</div>
				<!-- ================ end of profile ================ -->

				<!-- ================ user Posts ================ -->
				<div class="feeds">
					<!-- ================ post one================ -->
					<div class="feed">
						<div class="head">
							<div class="user">
								<div class="profile-photo">
									<img src="../static/img/profile-1.jpg">
								</div>
								<div class="info">
									<h3>Lana Rose</h3>
									<small>Dubai, 15 Minutes ago</small>
								</div>
							</div>
							<span class="edit">
								<i class='bx bx-dots-horizontal-rounded'></i>
							</span>
						</div>
						<div class="photo">
							<img src="../static/img/feed-1.jpg">
						</div>

						<div class="action-buttons">
							<div class="interaction-buttons">
								<span><i class='bx bx-heart'></i></span>
								<span><i class='bx bxs-comment-detail'></i></span>
								<span><i class='bx bxs-share-alt'></i></span>
							</div>
							<div class="bookmark">
								<span><i class='bx bx-bookmark'></i></span>
							</div>
						</div>
						<div class="liked-by">
							<span><img src="../static/img/profile-10.jpg"></span>
							<span><img src="../static/img/profile-11.jpg"></span>
							<span><img src="../static/img/profile-12.jpg"></span>
							<p>liked by <b>Ernest Achiever</b> and <b>323others</b></p>
						</div>
						<div class="caption">
							<p>
								Lorem ipsum dolor lore.
								<span class="harsh-tag">#lifestule</span>
							</p>
						</div>
						<div class="comment text-muted">
							view all 277 comments
						</div>
					</div>
					<!-- ================ end of post one ================ -->
				</div>
			</div>
			<!-- ================ middle ================ -->
		</div>
	</main>


	{% include 'themes.html' %}
	<script src="../static/js/home.js"></script>
</body>

</html>